* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

ul,
ol,
menu {
	list-style: none;
}

.logo-title {
    display: inline-block;
}

.main-box{
    height: 50px;
    border-bottom: 1px solid black;
    padding: 5px;
}

.container {
    margin: 0 auto;
    max-width: 1000px;                       
}

.add {
    display: inline-block;
    border-color: rgb(0, 0, 0);
    padding: 15px;
}

.badge{
    display: inline-block;
    background-color: lightblue;
    width: 80px;
    height: 30px;
    padding: 7px;
    text-align: center;
    vertical-align: middle;
}
.section-option{
    display: inline-block;
    background-color: lightblue;
    width: 120px;
    height: 30px;
    padding: 7px;
    text-align: center;
    vertical-align: middle;
}

.list-box{
    height: 800px;
    padding: 30px 50px;
}

.editorial{
    color: white;
    display: inline-block;
    background-color: rgb(73, 191, 231);
    width: 90px;
    height: 25px;
    padding: 3px;
    text-align: center;
    border-radius: 15px;
    vertical-align: middle;
}

.check{
    color: green;
    display: inline-block;
    margin: 1px solid green;
    width: 50px;
    height: 30px;
    padding: 7px;
    text-align: center;
    border-radius: 15px;
    vertical-align: middle;
}

.cross{
    color: red;
    display: inline-block;
    margin: 1px solid red;
    width: 50px;
    height: 30px;
    padding: 7px;
    text-align: center;
    border-radius: 15px;
    vertical-align: middle;
}

.goals{
    color: white;
    display: inline-block;
    background-color: rgb(191, 95, 250);
    width: 100px;
    height: 25px;
    padding: 3px;
    text-align: center;
    border-radius: 15px;
    vertical-align: middle;
}

.recruiting{
    color: white;
    display: inline-block;
    background-color: rgb(77, 212, 115);
    width: 110px;
    height: 25px;
    padding: 3px;
    text-align: center;
    border-radius: 15px;
    vertical-align: middle;
}

.mobile{
    color: white;
    display: inline-block;
    background-color: rgb(249, 154, 45);
    width: 80px;
    height: 25px;
    padding: 3px;
    text-align: center;
    border-radius: 15px;
    vertical-align: middle;
}